@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

nav {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: white;
    display: block;
    line-height: 2em;
    padding: 1em 3em;
    text-decoration: none;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li a.logo {
    background-color: #1e99e0;
}

nav ul li a:hover {
    background-color: #1e99e0;
}

#graphic_summary {
    display: flex;
}