@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

nav {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: white;
    display: block;
    line-height: 2em;
    padding: 1em 3em;
    text-decoration: none;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li a.logo {
    background-color: #1e99e0;
}

nav ul li a:hover {
    background-color: #1e99e0;
}

.form {
    animation-name: launch;
    animation-duration: 4s;
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15 px;
    padding: 15px;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background-color: #1e99e0;
    color: white;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
}

.form .message a {
    color: #1e99e0;
    text-decoration: none;
}

.form .login {
    display: none;
}

.form .signup {
    display: visible;
}